.wrapper {
  padding-top: 50px;
  background: rgb(37, 16, 131);
  background-image: url(../../images/mickey_background.jpg);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
