.wrapper {
  padding-top: 50px;
  background-image: url(../../images/mickey_background.jpg);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.wrapper::after {
  content: "";
  background: url(../../images/mickey_background.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}