.card {
  background: #fff;
  /* height: 325px;
  width: 325px; */
}
.card-image {
  height: 190px;
  width: 250px;
  
  /* overflow: hidden; */
  }
/* .card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
} */
